<div class="addSoldierSection">
  <h3>{{componentHeader}}</h3>
  <label>Name: </label>{{input value=name}}<br />
  <label>Title: </label>{{input value=title}}<br />
  <label>{{input type="checkbox" checked=isActive}} Is Active</label> <br />
  <button type="button" {{action 'didClickAddButton'}}>{{addButtonName}}</button>
</div>
