.activeSoldier {
  background-color: green;
}

.inactiveSoldier {
  /*background-color: red;*/
  font-style:italic;
}

.addSoldierSection {
  margin: 15px 0 20px 0;
}

.addSoldierSection input {
  margin-bottom: 10px;
}
