<p>Hello from the index route!</p>

{{add-soldier 
  componentHeader='Add Soldier'
  addButtonName='Add Soldier'
  addClicked='addSoldier'
}}

<label>{{input type='checkbox' checked=showActiveOnly}} Active Only</label>
<p>Num Solders: {{numSoldiers}} &nbsp;
Num Active Soldier: {{numActiveSoldiers}}</p>
<hr>
{{#each person in filteredSoldiers itemController="person-row"}}
  {{partial 'person-row-content'}}
{{else}}
<p>No Soldiers Found</p>
{{/each}}
<hr>


{{#link-to 'change-password'}}Change Password{{/link-to}}
